<!DOCTYPE html>
<html>
    <head>
        <title>The Title</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

    <% include templates/header.ejs %>
    <h3>About</h3>
    <p>My name is <%= name %> and I like pineapples on pizza!</p>

    </body>
</html>
