<!DOCTYPE html>
<html>
  <head>
    <title>The Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <% include templates/header.ejs %>
    <h2><%= name %> <%= desc %></h2>
    <p>Testing POST Request</p>
    <form action="/details" method="POST">
      Name: <input type="text" name="name">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <p>Testing GET Request</p>
    <form action="/about" method="GET">
      Name: <input type="text" name="name">
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
